.box{
    display: flex;
    background-color: #ffffff;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.item-box{
    padding: 7px;
}

body{
    display: flex;
    background-color: #422573;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #ffffff;
    letter-spacing: 1px;
}

textarea {
    overflow-y: scroll;
    height: 150px;
    width: 270px;
    resize: none;
}